body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#loading-bar {
    pointer-events: all;
    z-index: 99999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: wait;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
}

.completed {
    background-color: honeydew;
}

.table-hover > tbody > tr:hover {
    background-color: aliceblue;
}

table th:nth-child(1) {
    width: 20%;
}

table th:nth-child(2) {
    width: 60%;
}

table th:nth-child(3) {
    width: 20%;
}

md-checkbox.md-checked.green .md-icon {
    background-color: green;
}

md-checkbox.md-checked .md-icon {
    background-color: #d9534f;
}

md-checkbox {
    margin-bottom: 0;
}

md-icon svg {
    fill: #fff;
}

md-toolbar:not(.md-menu-toolbar), md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
    background-color: #5bc0de;
}
